*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    width: 250px;
    height: 300px;
    margin: 40px auto;
    border: 2px solid #ddd;
    
}
h2 {
text-align: center;
margin: 10px;
color: rgb(15, 214, 228);
}
.number {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border:2px solid rgb(15, 214, 228); 
    border-radius: 50%;
    box-shadow: 3px 3px 8px rgb(15, 214, 228) ,
                -3px -3px 8px rgb(15, 214, 228);
    text-align: center;
    font-family: tahoma,arial;
    
    line-height: 20px;
    
}
.f {
color: #f00;
text-shadow: 2px 2px 3px #f00;
}
.s {
    color: #00f;
    text-shadow: 2px 2px 3px #00f;
    }